<!DOCTYPE html>
<html>
<head>
    <title>Buildings</title>
</head>
<body>
    <h1>All Buildings</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for building in buildings %}
            <tr>
                <td>{{ building.bID }}</td>
                <td>{{ building.name }}</td>
                <td>{{ building.lat }}</td>
                <td>{{ building.lon }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for bathroom in bathrooms %}
            <tr>
                <td>{{ bathroom.bID }}</td>
                <td>{{ bathroom.floor }}</td>
                <td>{{ bathroom.brID }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for reviews in reviews %}
            <tr>
                <td>{{ reviews.brID }}</td>
                <td>{{ reviews.rID }}</td>
                <td>{{ reviews.wheelchair }}</td>
                <td>{{ reviews.accessibility }}</td>
                <td>{{ reviews.cleanliness }}</td>
                <td>{{ reviews.review }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>