<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <title>Index</title>
</head>
<body onload="initMap()">
    <div class="sidenav">
    <form>
        <div class="search_rest">
            <label for="location_zip">Find a Restroom</label>
        </div>
        <div class="search_rest">
            <input id="location_zip" type="text" placeholder="Enter your Zip Code">
            <i class="fas fa-magnifying-glass"></i>
        </div>
    </form>
    <div class="filter">
        <i class="fa-solid fa-filter"></i>
        <h4>Filter</h4>
    </div>

    {% for building in buildings %}
    <div class="building_block">
        <h2>{{ building.name }}</h2>
        <h4>
            <span class="open">Open · </span>
            <span class="closes">Closes 12am</span>
        </h4>

        <div class="floor_row">
            {% for bathroom in building.bathrooms %}
            <div class="building_floor_block">
                <a href="{{ url_for('response', name=building.name, floor=bathroom.floor )}}">
                    <h4>
                        {% if bathroom.floor == -1 %}
                            Ground
                        {% else %}
                            Floor {{ bathroom.floor }}
                        {% endif %}
                    </h4>
                    <h4>&#9733; &#9733; &#9733; &#9734; &#9734;</h4>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>


    <div class="main">
        <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
    var map;

    function create_markers() {
        var markers = {buildings_data};
        
        for (var i = 0; i < markers.length; i++) {
            new L.marker([markers[i].lat, markers[i].lon])
                .bindPopup(markers[i].name)
                .addTo(map);
        }
    }

    function initMap() {
        map = L.map('map', {
            center: [40.44424, -79.95283],
            zoom: 15
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        create_markers();
    }
</script>


</body>
</html>
