<!DOCTYPE html>
<html lang="en">
<body style= "background-color:rgb(212, 241, 255);">
    <h1> Building Name </h1>
    <h2> Floor </h2>
    <h3> Accessibility </h3>
    <ul>
        <li> Wheelchair Access </li>
        <li> Maternity </li>
    
    </ul>
  
    <h3> Cleanliness </h3>


    <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>


    <h3> Amenities </h3>


    <label>
    <input type="checkbox" name="checkbox" value="value">
        Text
    </label>

    
</body>
</html>